.Feedback {
  color: rgb(82, 39, 236);
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: x-large;
  text-align: center;
}
.Feedback__Statistics {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
