.Feedback {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.Btn {
  width: 100px;
  height: 40px;
  font-size: medium;
  font-weight: 600;
  border-radius: 30px;
  color: rgb(14, 13, 13);
  margin-right: 10px;
}
:hover.Btn {
  font-weight: 600;
  border-radius: 3px;
  border: rgb(20, 0, 46) solid 1px;
}

.Good.Btn {
  background-color: rgb(149, 184, 14);
}
.Neutral.Btn {
  background-color: rgb(149, 184, 14);
}
.Bad.Btn {
  background-color: rgb(149, 184, 14);
}
