.Feedback__Statistics {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.Result {
  margin-right: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  font-weight: 900;
}
.Result .Value {
  font-size: xx-large;
  background-color: rgb(224, 201, 201);
  padding: 0 10px 0;
  border-radius: 5px;
}
.Good.Value,
.Positive__Percentage.Value {
  color: rgb(85, 87, 6);
}
.Neutral.Value {
  color: rgb(85, 87, 6);
}
.Bad.Value {
  color: rgb(85, 87, 6);
}
.Additional__Statistics {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.Total.Value {
  color: rgb(139, 24, 24);
}
